root = true

[*]
insert_final_newline = true

[*.{kt,kts}]
max_line_length = 140
indent_size = 4
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

[*.java]
ij_java_class_count_to_use_import_on_demand = 3
ij_java_names_count_to_use_import_on_demand = 3
ij_java_packages_to_use_import_on_demand = 3
ij_java_blank_lines_after_class_header = 1
ij_java_imports_layout = *,|,javax.**,java.**,|,$*
