# Migrated to bitrise

language: android
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
  - "$HOME/.m2"
  - "$HOME/.cache"
before_install:
- export TRAVIS_GIT_BRANCH=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH;
  else echo $TRAVIS_PULL_REQUEST_BRANCH; fi)
- export GIT_SHA=$(git rev-parse HEAD)
- export GIT_MERGE_BASE=$(git merge-base master)
- echo GIT_SHA $GIT_SHA
- echo GIT_MERGE_BASE $GIT_MERGE_BASE
after_success:
  - gradle/deploy_snapshot.sh
android:
  components:
  - tools
  - platform-tools
  - tools
  - build-tools-28.0.2
  - android-28
  - extra-android-m2repository
jdk:
- oraclejdk8
branches:
  except:
  - gh-pages
notifications:
  email: false
jobs:
  include:
  - stage: test
    name: Test
    script: "./gradlew lintRelease testReleaseUnitTest"
